<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Crops Now</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
        body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}


.top{
    
    background-color: #4CAF50;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: -3rem;
}
.top h1 {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.top p {
  font-size: 1.2rem;
}

main {
  margin: auto;
  padding: 20px;
}
#resp {
  margin: auto;
  
  padding: 20px;
}

form {
  background-color: rgb(181, 244, 187);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 700px;
  animation: fadeInUp 1s ease-out;
  
}

form label {
  
  margin-bottom: 10px;
  color: #333;
  font-size: 1.1rem;
  
}



button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
ul {
  list-style: none;
  padding: 0;
}



footer {
    background-color: #28a745;
    color: #fff;
    padding: 20px;
    text-align: center;
}
form input,
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #45a049;
}

#recommendations {
  display: none;
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  color: #333;
}
#recommendations {
  display: none;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recommendation-header {
  color: #4CAF50;
  font-size: 2rem;
  margin-bottom: 10px;
}

.recommendation-list {
  list-style: none;
  padding: 0;
}

.recommendation-list li {
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.recommendation-list li:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}
h5:hover{
        background-color: #c5c5c5;
        color: black;
       
        
      }
h5{
     padding-right: 1rem;
     padding-left: 1rem;
     padding-top: 0.5rem;
}
table {
    caption-side: bottom;
    border-spacing: 7px;
    width: 558px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width:780px) {
  #resp{
    width: 100%;
    overflow-x:auto ;
   
  }
 
}

    </style>
</head>
<body>
     {{>navbar}}
    <br><br>
  <div class="top">
    <h3>Get Your Personalized Crops here</h3>
    <p>Explore the crops that suit your farm.</p>
  </div>
  
  <main style="overflow-x: auto; width:100%">
    
    <form id="userForm" style="margin: auto;" cellpadding="10px" cellspacing="20px">
        <table style="margin: auto;">
          <tr>
            <td><label for="cropType">Enter the value of Nitrogen (%)<span style="color: red;">*</span></label></td>
            <td> <input type="number" id="nitrogen"  class="tdd" name="nitrogen" required placeholder="For eg. 45"></td>
          </tr>
          <tr>
            <td><label for="cropType">Enter the value of Phosphorus (%)<span style="color: red;">*</span> </label></td>
            <td> <input type="number" id="phosphorus" name="phosphorus" required placeholder="For eg. 45"></td>
          </tr>
          <tr>
            <td><label for="cropType">Enter the value of Potassium (%)<span style="color: red;">*</span></label></td>
            <td><input type="number" id="potassium" name="potassium" required placeholder="For eg. 45"></td>
          </tr>
          <tr>
            <td><label for="cropType">Enter the value of Ph Value <span style="color: red;">*</span> </label></td>
            <td><input type="number" id="phvalue" name="phvalue" required placeholder="Ph value range 1-14"></td>
          </tr>
          <tr>
            <td><label for="cropType">Enter the value of Rainfall in (mm) <span style="color: red;">*</span></label></td>
            <td><input type="number" id="rainfall" name="rainfall" required placeholder="For eg. 115.323"></td>
          </tr>
          <tr>
            <td><label for="cropType">Enter the value of Temperature ( &deg;C )<span style="color: red;">*</span></label></td>
            <td><input type="number" id="temperature" name="temperature" required placeholder="For eg. 42"></td>
          </tr>
          <tr>
            <td><label for="cropType">Enter the value of Humidity <span style="color: red;">*</span></label></td>
            <td><input type="number" id="humidity" name="humidity" required placeholder="For eg. 35"></td>
          </tr>
          <tr >
            <td colspan="2" style="text-align:center;"><button type="button" id="recommendBtn" onclick="recommendCrops()">Recommend Crop</button></td>
          </tr>
          <tr>
            <td colspan="2"><img src="loading.gif" alt="Loading...." id="loadingImg" style="display: none;margin:auto" height="100px" width="100px"></td>

          </tr>
          <tr >
            <td  rowspan="2" colspan="2" style="display: hidden;margin-top:2rem;text-align:center;font-size:1.2rem;font-weight:bolder;" id="displayRec"></td>
          </tr>
        </table>
           

            
        </form>

    
  </main>
  <div id="recommendedCrops"></div><br>


<div id="resp">
  <h1 style="font-weight: bolder;font-size:2.5rem;color:#28a745;text-align:center;margin:auto">Check MSP of your Crop</h1>
    <form id="cropForm" style="margin: auto; text-align:center;justify-content:center;margin-bottom:1rem;" >
        <label for="cropName">Select the Crop Name:</label>
        <select id="cropName" name="cropName"  style="color: #333;" >
            <option value="" disabled selected>Select the Crop </option>
            <option value="Paddy">Paddy</option>
  <option value="Jowar">Jowar</option>
  <option value="Bajra">Bajra</option>
  <option value="Ragi">Ragi</option>
  <option value="Maize">Maize</option>
  <option value="Tur (Arhar)">Tur (Arhar)</option>
  <option value="Moong">Moong</option>
  <option value="Urad">Urad</option>
  <option value="Cotton">Cotton</option>
  <option value="Groundnut">Groundnut</option>
  <option value="Sunflower Seed">Sunflower Seed</option>
  <option value="Soyabean">Soyabean</option>
  <option value="Sesamum">Sesamum</option>
  <option value="Nigerseed">Nigerseed</option>
        </select>
        <img src="loading.gif" alt="Loading...." id="loadingImgMSP" style="display: none;margin:auto" height="100px" width="100px">
        <button type="submit" id="btn-msp">Get MSP</button>
    </form>
    <div id="mspResult" style="margin: auto; height:200px; width:700px;border-radius:10px;background-color:#afe5b1;visibility:hidden; align-items:center;justify-content:center;text-align:center;padding:2rem 2rem;font-size:1.2rem;"></div>
</div>
  <footer>
        <p>&copy; 2023 FarmAssist. All rights reserved.</p>
    </footer>

 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        // JavaScript function to recommend schemes
        const loadingImage = document.getElementById("loadingImg");
        const loadingImageMSP = document.getElementById("loadingImgMSP");

        async function recommendCrops() {
          
          showLoadingImage();
            // Collect form data
            const formData = {
                nitrogen: document.getElementById('nitrogen').value,
                phosphorus: document.getElementById('phosphorus').value,
                potassium: document.getElementById('potassium').value,
                phvalue: document.getElementById('phvalue').value,
                rainfall: document.getElementById('rainfall').value,
                temperature: document.getElementById('temperature').value,
                humidity: document.getElementById('humidity').value,
            };

            try {
                // Make a POST request to the backend API
                 const timestamp = new Date().getTime();
        
        // Make a POST request to the backend API with the timestamp
                const response = await axios.post(`https://crop-predict-fxeb.onrender.com/predict?timestamp=${timestamp}`, formData);

                // Handle the response, update UI, etc.
                console.log(response.data);
                displayRecommendations(response.data);
            } catch (error) {
                console.error('Error:', error);
            }
             finally {
        // Hide loading image after request completion (whether successful or not)
        hideLoadingImage();
    }

        }

        // Modify the displayRecommendations function
  function displayRecommendations(recommendedSchemesObj) {
    console.log('Received recommendations:', recommendedSchemesObj);
      const recommendationsDiv = document.getElementById('displayRec');
      let recomScheme = recommendedSchemesObj.prediction;
      recomScheme = recomScheme.toUpperCase();
      console.log(recomScheme)
      
      // Clear previous content
      recommendationsDiv.innerHTML = '';

      

     

        if (recomScheme.length === 0) {
            recommendationsDiv.innerHTML = '<p>No recommendations available.</p>';
        } else {
            
            recommendationsDiv.innerHTML = `Recommended Crop is <span style="color:coral">${recomScheme}<span>`;
            recommendationsDiv.style.visibility="visible";

        }
  }
  function showLoadingImage() {
    // Show loading image here
    loadingImage.style.display = "block"; // Assuming you have a loading image element with id "loadingImage"
}

function hideLoadingImage() {
    // Hide loading image here
    loadingImage.style.display = "none"; // Assuming you have a loading image element with id "loadingImage"
    
}
function showLoadingImageMSP() {
    // Show loading image here
    loadingImageMSP.style.display = "block"; // Assuming you have a loading image element with id "loadingImage"
    
}

function hideLoadingImageMSP() {
    // Hide loading image here
    loadingImageMSP.style.display = "none"; // Assuming you have a loading image element with id "loadingImage"
   
}





 document.getElementById("cropForm").addEventListener("submit", function(event) {
    event.preventDefault(); // Prevent default form submission
    let cropName = document.getElementById("cropName");
    let selectedIndexCrop = cropName.selectedIndex;
    let selectValueCrop = cropName.options[selectedIndexCrop].value;
    showLoadingImageMSP();
    // Make a POST request to your ML API
    axios.post('https://crop-predict-fxeb.onrender.com/msp', {
        crop_name: selectValueCrop
    })
    .then(response => {
        let mspResult = document.getElementById("mspResult");
        mspResult.innerHTML = ""; // Clear previous results
        mspResult.style.visibility ="visible";
        // Check if response data is an object
        if (typeof response.data === 'object' && response.data !== null) {
            // Create a table element
            let table = document.createElement("table");
            
            // Create table header
            let headerRow = table.insertRow();
            let headerCellVariety = headerRow.insertCell();
            headerCellVariety.textContent = "Variety";
            headerCellVariety.style.backgroundColor="#28a745";
            headerCellVariety.style.color="white";
            let headerCell2021_22 = headerRow.insertCell();
            headerCell2021_22.textContent = "2021-22 (Rs)";
            headerCell2021_22.style.backgroundColor="#28a745"
            headerCell2021_22.style.color="white"
            let headerCell2022_23 = headerRow.insertCell();
            headerCell2022_23.textContent = "2022-23 (Rs)";
            headerCell2022_23.style.backgroundColor="#28a745";
            headerCell2022_23.style.color="white";
            let headerCell2023_24 = headerRow.insertCell();
            headerCell2023_24.textContent = "2023-24 (Rs)";
            headerCell2023_24.style.backgroundColor="#28a745";
            headerCell2023_24.style.color="white";
            
            // Check if there is only one variety
            if (Array.isArray(response.data.varieties)) {
                // If there's only one variety, convert it to an array for consistency
                
                
                // Iterate over varieties and MSP values and populate the table
                for (let i = 0; i < response.data.varieties.length; i++) {
                    let row = table.insertRow();
                    let cellVariety = row.insertCell();
                    cellVariety.textContent = response.data.varieties[i];
                    let cell2021_22 = row.insertCell();
                    cell2021_22.textContent = response.data.msp_2021_22[i];
                    let cell2022_23 = row.insertCell();
                    cell2022_23.textContent = response.data.msp_2022_23[i];
                    let cell2023_24 = row.insertCell();
                    cell2023_24.textContent = response.data.msp_2023_24[i];
                }
            }
            
            // Append the table to the result element
            table.style.alignItems ="center";
            table.style.textAlign ="center";
            table.cellPadding ="10px";
            table.border= "2px solid";
            table.cellSpacing ="10px";
            table.align="center";
            table.alignItems="center"
            mspResult.appendChild(table);
            hideLoadingImageMSP();
        } else {
            mspResult.style.visibility ="visible"
            // If response data is not an object, display it as is
             let formattedResponse = response.data.replace(/\"/g, ""); // Remove quotation marks
            formattedResponse = formattedResponse.replace(/\{|\}/g, ""); // Remove curly braces
            formattedResponse = formattedResponse.replace(/:/g, ": "); // Add space after colon
            formattedResponse = formattedResponse.replace(/\:/g,"");
            formattedResponse = formattedResponse.replace(/\[|\]/g,"");
            formattedResponse = formattedResponse.replace(/\,/g,"\t");
            formattedResponse = formattedResponse.replace(/\_/g," ");
            formattedResponse = formattedResponse.toUpperCase();
            // Display the formatted response
            let msp_21="";
            for(let i =12;i<=16;i++){
              msp_21 += formattedResponse[i];
            }
            let msp_22 ="";
            for(let i = 29;i<=33;i++){
              msp_22 += formattedResponse[i];
            }
            let msp_23 ="";
            for(let i = 46;i<=49;i++){
              msp_23 += formattedResponse[i];
            }
            let vari = "";
            for(let i=61;i<formattedResponse.length;i++){
              vari += formattedResponse[i];
            }
            console.log(vari)
            console.log(msp_23)
            console.log(msp_22)
            console.log(msp_21);
            let table = document.createElement("table");
            
            // Create table header
            let headerRow = table.insertRow();
            let headerCellVariety = headerRow.insertCell();
            headerCellVariety.textContent = "Variety";
            headerCellVariety.style.backgroundColor="#28a745";
            headerCellVariety.style.color="white";
            let headerCell2021_22 = headerRow.insertCell();
            headerCell2021_22.textContent = "2021-22 (Rs)";
            headerCell2021_22.style.backgroundColor="#28a745"
            headerCell2021_22.style.color="white"
            let headerCell2022_23 = headerRow.insertCell();
            headerCell2022_23.textContent = "2022-23 (Rs)";
            headerCell2022_23.style.backgroundColor="#28a745";
            headerCell2022_23.style.color="white";
            let headerCell2023_24 = headerRow.insertCell();
            headerCell2023_24.textContent = "2023-24 (Rs)";
            headerCell2023_24.style.backgroundColor="#28a745";
            headerCell2023_24.style.color="white";
            
            let row = table.insertRow();
            let cell1 = row.insertCell();
            cell1.textContent = vari;
            let cell2 = row.insertCell();
            cell2.textContent = msp_21;
            let cell3 = row.insertCell();
            cell3.textContent = msp_22;
            let cell4 = row.insertCell();
            cell4.textContent = msp_23;

             table.style.alignItems ="center";
            table.style.textAlign ="center";
            table.cellPadding ="10px";
            table.border= "solid 3px";
            table.cellSpacing ="10px";
            table.align="center";
            table.alignItems="center"
            mspResult.appendChild(table);
            hideLoadingImageMSP();
        }
    })
    .catch(error => {
        console.error('There was a problem with the fetch operation:', error);
        mspResult.style.visibility = "visible"
        document.getElementById("mspResult").textContent = "MSP Data for the Required Crop Not Available";
        hideLoadingImageMSP();
    })
    
})




    </script>
  

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>