<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Schemes Now</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
       body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}


.top{
    
    background-color: #4CAF50;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: -3rem;
}
.top h1 {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.top p {
  font-size: 1.2rem;
}

main {
  margin: auto;
  padding: 20px;
}

form {
  background-color: rgb(181, 244, 187);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 700px;
  animation: fadeInUp 1s ease-out;
  
}

form label {
  
  margin-bottom: 10px;
  color: #333;
  font-size: 1.1rem;
  
}



button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
ul {
  list-style: none;
  padding: 0;
}



footer {
    background-color: #28a745;
    color: #fff;
    padding: 20px;
    text-align: center;
}
form input,
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #45a049;
}

#recommendations {
  display: none;
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  color: #333;
}
#recommendations {
  display: none;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recommendation-header {
  color: #4CAF50;
  font-size: 2rem;
  margin-bottom: 10px;
}

.recommendation-list {
  list-style: none;
  padding: 0;
}

.submain {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.scheme-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  width: 300px;
  text-align: center;
}

.scheme-card h2 {
  color: #333;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.scheme-card p.description {
  color: #666;
  font-size: 1rem;
  margin-bottom: 20px;
}

.learn-more-btn {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.recommendation-list li {
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.recommendation-list li:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}
h5:hover{
        background-color: #c5c5c5;
        color: black;
       
        
      }
h5{
     padding-right: 1rem;
     padding-left: 1rem;
     padding-top: 0.5rem;
}
table {
    caption-side: bottom;
    border-spacing: 7px;
    width: 558px;
}
h6{
  font-size: 1.2rem;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 780px) {
    .responsive {
        width: 100%;
        overflow-x: auto;
    }
    
}
    </style>
</head>
<body>
     {{>navbar}}
    <br><br>
  <div class="top">
    <h3>Get Your Personalized Schemes here</h3>
    <p>Explore the latest agricultural schemes for your farm.</p>
  </div>
  <main>
    <div class="responsive">
    <form id="userForm" style="margin: auto;">
          <table style="margin: auto;">
          <tr>
            <td><label for="farmSize">Enter your farm size (In Hectares)<span style="color: red;">*</span></label></td>
            <td> <input type="text" id="farmSize"  class="tdd" name="farmSize" required placeholder="For eg. 4.34, If not, NA"></td>
          </tr>
          <tr>
            <td><label for="cropName">Select the crop you grow<span style="color: red;">*</span> </label></td>
            <td> <select id="cropName" name="cropName"  style="color: #333;" >
            <option value="" disabled selected>Select a crop </option>
            <option value="Bajra">Bajra</option>
<option value="Banana">Banana</option>
<option value="Cashew">Cashew</option>
<option value="Cotton">Cotton</option>
<option value="Gram">Gram</option>
<option value="Grapes">Grapes</option>
<option value="Groundnut">Groundnut</option>
<option value="Guava">Guava</option>
<option value="Jackfruit">Jackfruit</option>
<option value="Maize">Maize</option>
<option value="Mango">Mango</option>
<option value="Moong">Moong</option>
<option value="Mustard">Mustard</option>
<option value="Oilpalm">Oilpalm</option>
<option value="Onion">Onion</option>
<option value="Orange">Orange</option>
<option value="Paddy">Paddy</option>
<option value="Pomegranate">Pomegranate</option>
<option value="Rice">Rice</option>
<option value="Sesame">Sesame</option>
<option value="Soybean">Soybean</option>
<option value="Sugarcane">Sugarcane</option>
<option value="Sunflower">Sunflower</option>
<option value="Tur">Tur</option>
<option value="Urad">Urad</option>
<option value="Wheat">Wheat</option>

        </select></td>
          </tr>
          <tr>
            <td><label for="waterAvailability">Is Water Available to you ?<span style="color: red;">*</span></label></td>
            <td> <select id="waterAvailability" name="waterAvailability"  style="color: #333;" >
            <option value="" disabled selected>Select Water Availability </option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
            </select></td>
          </tr>
          <tr>
            <td><label for="annualIncome">Enter your Annual Income (In Rs)<span style="color: red;">*</span></label></td>
            <td> <input type="text" id="annualIncome"  class="tdd" name="annualIncome" required placeholder="For eg. 300000 If not, NA"></td>
          </tr>
          <tr>
            <td><label for="district">Select the District <strong>(For Maharashtra):</strong> <span style="color: red; font-weight:bolder">*</span></label></td>
        <td><select id="district" name="district"  style="color: #333;" >
            <option value="" disabled selected>Select a district</option>
            <option value="Ahmednagar">Ahmednagar</option>
            <option value="Akola">Akola</option>
            <option value="Amravati">Amravati</option>
            <option value="Aurangabad">Aurangabad</option>
            <option value="Beed">Beed</option>
            <option value="Bhandara">Bhandara</option>
            <option value="Buldhana">Buldhana</option>
            <option value="Chandrapur">Chandrapur</option>
            <option value="Dhule">Dhule</option>
            <option value="Gadchiroli">Gadchiroli</option>
            <option value="Gondia">Gondia</option>
            <option value="Hingoli">Hingoli</option>
            <option value="Jalgaon">Jalgaon</option>
            <option value="Jalna">Jalna</option>
            <option value="Kolhapur">Kolhapur</option>
            <option value="Latur">Latur</option>
            <option value="Mumbai City">Mumbai City</option>
            <option value="Mumbai Suburban">Mumbai Suburban</option>
            <option value="Nagpur">Nagpur</option>
            <option value="Nanded">Nanded</option>
            <option value="Nandurbar">Nandurbar</option>
            <option value="Nashik">Nashik</option>
            <option value="Osmanabad">Osmanabad</option>
            <option value="Palghar">Palghar</option>
            <option value="Parbhani">Parbhani</option>
            <option value="Pune">Pune</option>
            <option value="Raigad">Raigad</option>
            <option value="Ratnagiri">Ratnagiri</option>
            <option value="Sangli">Sangli</option>
            <option value="Satara">Satara</option>
            <option value="Sindhudurg">Sindhudurg</option>
            <option value="Solapur">Solapur</option>
            <option value="Thane">Thane</option>
            <option value="Wardha">Wardha</option>
            <option value="Washim">Washim</option>
            <option value="Yavatmal">Yavatmal</option>
        </select>
        </td>
          </tr>
          <tr >
            <td colspan="2" style="text-align:center;"><button type="button" id="recommendBtn" onclick="recommendSchemes()">Recommend Schemes</button></td>
          </tr>
          <tr >
            <td colspan="2"><img src="loading.gif" alt="Loading...." id="loadingImg" style="display: none;margin:auto" height="100px" width="100px"></td>
            
          </tr>
        </table>



            {{!-- <label for="cropType">Crop Type:</label>
            <input type="text" id="cropType" name="cropType" required>

            <label for="farmSize">Farm Size (Hectares):</label>
            <input type="text" id="farmSize" name="farmSize" required>

            <label for="cropName">Crop Name:</label>
            <input type="text" id="cropName" name="cropName" required>

            <label for="waterAvailability">Water Availability :</label>
            <input type="text" id="waterAvailability" name="waterAvailability" required>

            <label for="annualIncome">Annual Income :</label>
            <input type="text" id="annualIncome" name="annualIncome" required>

            <label for="district">District :</label>
            <input type="text" id="district" name="district" required>

            <button type="button" id="recommendBtn" onclick="recommendSchemes()">Recommend Schemes</button> --}}
        </form>

    <div id="recommendedSchemes" style="width: 700px; background-color:#a3f0a7;margin:auto; border-radius:10px;height:fit-content;margin-top:2rem;text-align:center;align-items:center"></div>
    </div>
  </main>
  <h1 style="text-align:center; margin:auto;font-size:3rem; font-weight:bolder;color:#28a745">Get Popular Schemes Here</h1>

  <div class="submain">
    <section class="scheme-card">
      <h2>Pradhan Mantri Kisan Samman Nidhi (PM-KISAN)</h2>
      <p class="description">PM-KISAN is central sector scheme launched on 24th February 2019 to supplement financial
        needs of land holding farmers, subject to exclusions. Under the scheme, financial benefit of Rs. 6000/- per 
        year is transferred in three equal four-monthly installments into bank accounts of farmers'families across the 
        country, through Direct Benefit Transfer (DBT) mode.
      </p>
      <button class="learn-more-btn"><a href="https://pmkisan.gov.in/" style="text-decoration: none; color:white;" target="_blank">Learn More</a></button>
      <button class="learn-more-btn"><a href="https://pmkisan.gov.in/registrationformnew.aspx" style="text-decoration: none; color:white;" target="_blank">Apply Now</a></button>
    </section>
    <section class="scheme-card">
      <h2>Pradhan Mantri Kisan MaanDhan Yojana (PM-KMY)</h2>
      <p class="description">PM-KMY is central sector scheme launched on 12th September 2019 to provide security to the
        most vulnerable families. PM-KMY is contributory scheme, small and marginal farmers (SMFs), subject to exclusion
        criteria, can opt to become member of the scheme by paying monthly subscription to the Pension fund. Similar,
        amount will be contributed by Central Government.
      </p>
      <button class="learn-more-btn"><a href="https://maandhan.in/index.php?lang=1" style="text-decoration: none; color:white;" target="_blank">Learn More</a></button>
      <button class="learn-more-btn"><a href="https://maandhan.in/maandhan/login" style="text-decoration: none; color:white;" target="_blank">Apply Now</a></button>
    </section>
    <section class="scheme-card">
      <h2>Pradhan Mantri Fasal Bima Yojana (PM-FBY)</h2>
      <p class="description">PM-FBY was launched in 2016 in order to provide a simple and affordable crop insurance 
        product to ensure comprehensive risk cover for crops to farmers against all non-preventable risks from 
        pre-sowing to post-harvest and to provide adequate claim amount. The scheme is demand driven and available 
        for all farmers. A total of 5549.40 lakh farmer application were insured under this scheme
      </p>
      <button class="learn-more-btn"><a href="https://pmfby.gov.in/" style="text-decoration: none; color:white;" target="_blank">Learn More</a></button>
      <button class="learn-more-btn"><a href="https://pmfby.gov.in/farmerRegistrationForm" style="text-decoration: none; color:white;" target="_blank">Apply Now</a></button>
    </section>

  <section class="scheme-card">
      <h2>Modified Interest Subvention Scheme (MISS)</h2>
      <p class="description">The Interest Subvention Scheme provides concessional short term agri-loans to the farmers
        practicing crop husbandary and other allied activities like animal husbandary, dairying and fisheries. ISS is 
        available to the farmers availing short term crop loans upto Rs. 3.00 lakh at an interest of 7% per annum for 
        one year. Additional 3% subvention is also given to the farmers thus reducing effective rate of interest to 4%
      </p>
      <button class="learn-more-btn"><a href="https://www.nabard.org/content1.aspx?id=602&catid=23&mid=23" style="text-decoration: none; color:white;" target="_blank">Learn More</a></button>
      
    </section>

  <section class="scheme-card">
      <h2>Agriculture Infrastructure Fund(AIF)</h2>
      <p class="description">Convergence with all schemes of central or state government.
Online single window facility in collaboration with participating lending institutions.
Project Management Unit to provide handholding support for projects including project preparation.
Size of the financing facility - ₹ 1 lakh Crore.
Credit Guarantee for loans up to ₹ 2 Crore.
Interest subvention of 3% p.a., limited to ₹ 2 crore per project in one location, though loan amount can be higher.
      </p>
      <button class="learn-more-btn"><a href="https://agriinfra.dac.gov.in/" style="text-decoration: none; color:white;" target="_blank">Learn More</a></button>
      <button class="learn-more-btn"><a href="https://agriinfra.dac.gov.in/Home/BeneficiaryRegistration" style="text-decoration: none; color:white;" target="_blank">Apply Now</a></button>

    </section>

  <section class="scheme-card">
      <h2>Rashtriya Krishi Vikas Yojana</h2>
      <p class="description">Rashtriya Krishi Vikas Yojana (RKVY) - Remunerative Approaches for Agriculture and Allied sector Rejuvenation (RAFTAAR) aims at making farming a remunerative economic 
        activity by strengthening the farmers‟ efforts, risk mitigation and promoting agri-business entrepreneurship.
To incentivise the states so as to increase public investment in Agriculture and allied sectors.To provide flexibility and autonomy to states in the process of planning and executing Agriculture and allied sector schemes.

      </p>
      <button class="learn-more-btn"><a href="https://rkvy.nic.in/static/download/pdf/RKVY_14th_Fin._Comm.pdf" style="text-decoration: none; color:white;" target="_blank">Learn More</a></button>
      <button class="learn-more-btn"><a href="https://rkvy.nic.in/rkvymis_new/loginform.aspx" style="text-decoration: none; color:white;" target="_blank">Apply Now</a></button>

    </section>

 <section class="scheme-card">
      <h2>Pradhan Mantri Krishi Sinchayee Yojana (PMKSY)</h2>
      <p class="description">
       Pradhan Mantri Krishi Sinchayee Yojana (PMKSY) has been formulated with the vision of extending the coverage of irrigation ‘Har Khet ko pani’ and improving 
        water use efficiency ‘More crop per drop' in a focused manner with end to end solution on source creation, distribution, management, field application and extension activities. 
        The Cabinet Committee on Economic Affairs chaired by Hon’ble Prime Minister has accorded approval of
         Pradhan Mantri Krishi Sinchayee Yojana (PMKSY) in its meeting held on 1st July, 2015.
      </p>
      <button class="learn-more-btn"><a href="https://pmksy.gov.in/" style="text-decoration: none; color:white;" target="_blank">Learn More</a></button>
      <button class="learn-more-btn"><a href="https://pmksy.gov.in/microirrigation/MI_Login.aspx" style="text-decoration: none; color:white;" target="_blank">Apply Now</a></button>

    </section>

  <section class="scheme-card">
      <h2>State Agriculture Mechanization Scheme
</h2>
      <p class="description">
       The Farm Mechanization Promotion Mission aims to increase agricultural productivity by promoting
        the use of farm machinery among small farmers and in areas with low farm power availability. It offers financial assistance for machinery procurement
         and conducts training and demonstrations to raise awareness and adoption of mechanized farming practices, with the goal of enhancing
        farm power usage to 2 Kw/Ha and improving overall agricultural efficiency and sustainability.
      </p>
      <button class="learn-more-btn"><a href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51A147B39AD4D6A9082" style="text-decoration: none; color:white;" target="_blank">Learn More</a></button>
      <button class="learn-more-btn"><a href="https://mahadbt.maharashtra.gov.in/Farmer/RegistrationLogin/RegistrationLogin" style="text-decoration: none; color:white;" target="_blank">Apply Now</a></button>

    </section>


  </div>

  <footer>
        <p>&copy; 2023 FarmAssist. All rights reserved.</p>
    </footer>

 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      const loadingImage = document.getElementById("loadingImg");
        // JavaScript function to recommend schemes
        async function recommendSchemes() {
    // Show loading image
    showLoadingImage();

    // Collect form data
    const selectCrop = document.getElementById('cropName');
    const selectedIndexCrop = selectCrop.selectedIndex;
    const selectValueCrop = selectCrop.options[selectedIndexCrop].value;

    const selectwaterAvail = document.getElementById('waterAvailability');
    const selectedIndexWater = selectwaterAvail.selectedIndex;
    const selectValueWater = selectwaterAvail.options[selectedIndexWater].value;

    const selectDistrict = document.getElementById('district');
    const selectedIndexDistrict = selectDistrict.selectedIndex;
    const selectValueDistrict = selectDistrict.options[selectedIndexDistrict].value;


    const formData = {
        Farm_Size: document.getElementById('farmSize').value,
        Crop_Names: selectValueCrop,
        Water_Availability: selectValueWater,
        Annual_Income_of_Farmer: document.getElementById('annualIncome').value,
        District: selectValueDistrict,

    };

    try {
        // Make a POST request to the backend API
        const timestamp = new Date().getTime();

        // Make a POST request to the backend API with the timestamp
        const response = await axios.post(`https://ml-model1-three.vercel.app/getschemes?timestamp=${timestamp}`, formData);

        // Handle the response, update UI, etc.
        console.log(response.data);
        displayRecommendations(response.data);
    } catch (error) {
        console.error('Error:', error);
    } finally {
        // Hide loading image after request completion (whether successful or not)
        hideLoadingImage();
    }
}

function showLoadingImage() {
    // Show loading image here
    loadingImage.style.display = "block"; // Assuming you have a loading image element with id "loadingImage"
}

function hideLoadingImage() {
    // Hide loading image here
    loadingImage.style.display = "none"; // Assuming you have a loading image element with id "loadingImage"
}


        // Modify the displayRecommendations function
  function displayRecommendations(recommendedSchemesObj) {
    console.log('Received recommendations:', recommendedSchemesObj);
      const recommendationsDiv = document.getElementById('recommendedSchemes');
      const recommendedSchemes = recommendedSchemesObj.recommendedSchemes;
      // Clear previous content
      recommendationsDiv.innerHTML = '';

      

     if (!Array.isArray(recommendedSchemes)) {
            console.error('Invalid data format. Expected an array.', recommendedSchemesObj);
            return;
        }

        if (recommendedSchemes.length === 0) {
            recommendationsDiv.innerHTML = '<br><h3 style="font-weight:bolder; margin:1rem 1rem;">No recommendations available.</h3><br>';
        } else {
            const listItems = recommendedSchemes.map(scheme => `<li><h6 style="font-size:1.2rem;"> ${scheme[2]}<br><br><a href="${scheme[3]}" style="background-color:green;color:white;text-decoration:none; padding:5px 5px;margin:1rem 1rem;border-radius:8px">Click Here</a></h6></li> `).join('');
            recommendationsDiv.innerHTML = `<br><h2 style="color:black;margin:1rem 1rem;font-size:2rem">Recommended Schemes</h2><ul>${listItems}</ul><br>`;
        }
  }



    </script>
  

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>