<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Web App</title>
    <link rel="stylesheet" href="news.css">
</head>
<body>

<div id="newsContainer" class="news-container">
    <!-- News articles will be dynamically added here using JavaScript -->
</div>

<script>
    async function fetchNews() {
        try {
            const response = await fetch('http://localhost:3000/get_news');
            const newsData = await response.json();
            renderNews(newsData.articles);
        } catch (error) {
            console.error('Error fetching news data:', error.message);
        }
    }

    function renderNews(newsData) {
        const newsContainer = document.getElementById('newsContainer');
        newsData.forEach(news => {
            const newsHTML = `
                <div class="news-content">
                    <img class="news-image" src="${news.urlToImage}" alt="News Image">
                    <div class="news-title">${news.title}</div>
                    <div class="news-description">${news.description}</div>
                    <a class="news-link" href="${news.url}" target="_blank">Read More</a>
                </div>
            `;
            newsContainer.innerHTML += newsHTML;
        });
    }

    // Call the function to fetch and render news when the page loads
    window.onload = fetchNews;
</script>

</body>
</html>
